/*ESTILOS RESET */

* {
    font-family: Roboto;
}


/*HEADER*/

.blueTopBar {
    background-color: #0756bd;
    height: 25px;
}

.navbar-nav {
    text-align: center;
    justify-self: center;
}

.logoBmc {
    justify-self: center;
}
/*MAIN */

.carousel {
    min-height: 750px;
}


.carousel-item img {
    height: 750px;
    object-fit: cover;
    filter: brightness(70%);
}

.carousel-caption  {
    height: 600px;
    align-content: center;
    text-align: start;
}

.carouselTitle {
    font-size: 5rem;
}


.row {
    margin: 0;
    padding: 50px;
}

.col {
    width: 400px;
}

a {
    text-decoration: none;
    font-weight: none ;
}

.card-title {
}


/* FOOTER */

footer{
    background-color: #3b3b3b;
    color: #fff;
}

footer a {
    color: #fff;
}

.copyrightContainer {
    margin: 0 !important;
    padding: 50px;
}

.py-5 {
    padding: 0 0 3.5rem 0 !important;

}


/* ABOUT US */ 

.imgAboutUs {
    height: 810px;
    width: 50%;
}

.aboutUs {
    display: flex;
}

.parrafoAboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerAboutUs {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tituloAboutUs {
    font-size: 50px;
}

@media (max-width: 991px) {
    .aboutUs {
        display: grid;
    }

    .imgAboutUs {
        height: 100%;
        width: 100%;
    }

    .parrafoAboutUs {
        width: 100%;
        padding: 30px;
    }

    .centerAboutUs {
        width: 100%;
    }
}